
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/customer-profile">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Back
      </ion-back-button>
    </ion-buttons>
    <div id="title">
      <ion-title>Booking Cart</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div *ngIf="!loading">
    <ion-card *ngFor="let tag of booking let i = index">
      <ion-header>
        <ion-toolbar  >
         <ion-buttons slot="primary">
           <ion-button (click)="edit(i)" >
            <ion-icon color="light" name="trash" slot="icon-only"></ion-icon>
             <!-- <ion-icon name="trash-outline" slot="icon-only"></ion-icon> -->
           </ion-button>
         </ion-buttons>
         <ion-label *ngIf="tag.expire ===true" slot="start" color="danger">Expired</ion-label>
         
        </ion-toolbar>
      </ion-header>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-label class ="labels">Name :</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class ="labels">{{ customerName }} </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label class ="labels">Seats :</ion-label>
          </ion-col>
          <ion-col size="6">
          
            <ion-label class ="labels" id="label" *ngFor = "let seat of tag?.seats" >{{ seat }}</ion-label>
            <!-- <ion-label  id="label"  *ngFor = "let seat of seats" >{{ seat }}</ion-label> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label class ="labels">number of seats :</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class ="labels">{{ tag?.seats.length }} </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label class ="labels">Total Price :</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class ="labels">${{ tag?.price }} </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label class ="labels">Booking ID :</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class ="labels">{{ tag?.id }} </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label class ="labels">Departure time :</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label class ="labels">{{ tag?.timing }} </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </ion-card>
  </div>
    <div *ngIf="loading">
      <ion-card>
        
        <ion-item *ngFor="let item of skeletonlist">
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
    <div *ngIf="noBooking">
      <ion-card>
        <ion-item>
          <ion-label color='light'>
            There is no Booking :)
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
  <!-- <ion-card *ngFor="let tag of booking let i = index" [routerLink]= "['./',tag.id]">
    <ion-item>
  

      <ion-label>
        <h6>Date and Time:{{tag?.timing}}</h6>
        <h2>price: {{tag?.price}}</h2>
        <h6>Booked Seats</h6>
        <div *ngFor="let seat of booking[i].seats">
          <h2>{{seat}}</h2>
        </div>
        
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>

    </ion-item>

  </ion-card> -->
</ion-content>
