<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear">
      <ion-icon name="search" expand="icon-only"> </ion-icon>
    </ion-button>
    <div class ="title">
    <ion-title>Inbox</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding">

    <ion-item *ngFor="let chat of chatData; let i=index"   (click)="goforChat(chat)">
      <ion-avatar slot="start">
        <ion-img class="user-img" [src]="chat.senderImage_url"></ion-img>
        <!-- <div class="online" *ngIf="chat.status == 'online'">
        </div>
        <div class="ofline" *ngIf="chat.status == 'ofline'">
        </div> -->
        <div class="online">

        </div>
      </ion-avatar>
      <ion-label>
        <div class="withcount">
          <div class="nameAvatar">
            <h2>{{chat.name}} 
            </h2>
            <!-- <ion-avatar class="chatCount" ></ion-avatar> -->
         
          </div>

          <div class="timeEnd">
            <ion-text slot="end">{{chat.created | date:'dd.MM hh:MM'}}</ion-text>

            
          </div>
          
          
        </div>
        <div>
          <div class="withcount">
           
        <p class="widthHalf" [ngClass]="{'bold': chat.status=='unread'}">{{chat.msg}}</p>
      
        <div *ngFor= "let item of countArr"  id="chatCounter" class="timeEnd">
          <ion-chip slot="end" *ngIf=" chat.senderId === item.senderId ">
          <ion-label>{{item.count}}</ion-label>
        </ion-chip>
      </div> 
      </div>
              
    </div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>