ion-content{
    --background: linear-gradient(#00449e, #e66465);

}
ion-card{
    background-color: transparent;
}
ion-list{
    background-color: transparent;
}
ion-toolbar {
    --background: transparent;
}
#title{
    text-align: center;
    color: white;
    font-weight: bold;
  }
  ion-item{
    --background: linear-gradient(to right, #780206 0%, #061161 51%, #780206 100%);
  }
  .labels{
      color: white;
  }