ion-content{
    --background: linear-gradient(#00449e, #e66465);

}
ion-card{
    background-color: transparent;
}
ion-list{
    background-color: transparent;
}
ion-toolbar {
    --background: transparent;
}
#title{
    text-align: center;
    color: white;
    font-weight: bold;
  }
  ion-item{
    --background: linear-gradient(45deg, #2ecc71, #2980b9, #8e44ad);
  }
  .labels{
      color: white;
  }