<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class ="title">
    <ion-title text-center>Routes</ion-title>
  </div>
  <ion-buttons slot="primary">
    <ion-button (click)="addRoute()" >
      <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="Form">
<ion-list *ngFor=" let arr of routesArray; let i = index">
  
     <ion-card>
       <ion-header>
         <ion-toolbar  >
          <ion-buttons slot="primary">
            <ion-button (click)="deletRoute(i)" >
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
          
         </ion-toolbar>
       </ion-header>
      <!-- <ion-item>
        <ion-label position="floating">
          From
        </ion-label>
        <ion-input
          type="text"
          [value] ="arr?.departure" 
          (ionInput)="updateDeparture($event.target.value,i)"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          Destination
        </ion-label>
        <ion-input
          type="text"
          [value] ="arr?.destination" 
          (ionInput)="updateDestination($event.target.value,i)"
        >
        </ion-input>
      </ion-item> -->
      <ion-item *ngIf="arr?.totalSeats">
        <ion-select text-center [value] ="arr?.departure" (ionChange)="updateDeparture($event.target.value,i)" color="dark" formControlName="departureValue"  interface="popover" [placeholder]="arr?.departure">
          <ion-select-option value="Karachi">Karachi</ion-select-option>
          <ion-select-option value="lahore">lahore</ion-select-option>
          <ion-select-option value="Faisalabad">Faisalabad</ion-select-option>
          <ion-select-option value="Rawalpindi">Rawalpindi</ion-select-option>
          <ion-select-option value="Multan">Multan</ion-select-option>
          <ion-select-option value="Gujranwala">Gujranwala</ion-select-option>
          <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
          <ion-select-option value="Peshawar">Peshawar</ion-select-option>
          <ion-select-option value="Islamabad">Islamabad</ion-select-option>
          <ion-select-option value="Quetta">Quetta</ion-select-option>
          <ion-select-option value="Sargodha">Sargodha</ion-select-option>
          <ion-select-option value="Sialkot">Sialkot</ion-select-option>
          <ion-select-option value="Bahawalpur">Bahawalpur</ion-select-option>
          <ion-select-option value="Sukkur">Sukkur</ion-select-option>
          <ion-select-option value="Kandhkot">Kandhkot</ion-select-option>
          <ion-select-option value="Sheikhupura">Sheikhupura</ion-select-option>
          <ion-select-option value="Mardan">Mardan</ion-select-option>
          <ion-select-option value="Gujrat">Gujrat</ion-select-option>
          <ion-select-option value="Larkana">Larkana</ion-select-option>
          <ion-select-option value="Kasur">Kasur</ion-select-option>
          <ion-select-option value="Rahim Yar Khan">Rahim Yar Khan</ion-select-option>
          <ion-select-option value="Sahiwal">Sahiwal</ion-select-option>
          <ion-select-option value="Okara">Okara</ion-select-option>
          <ion-select-option value="Wah Cantonment">Wah Cantonment</ion-select-option>
          <ion-select-option value="Dera Ghazi Khan">Dera Ghazi Khan</ion-select-option>
          <ion-select-option value="Mingora">Mingora</ion-select-option>
          <ion-select-option value="Mirpur Khas">Mirpur Khas</ion-select-option>
          <ion-select-option value="Chiniot">Chiniot</ion-select-option>
          <ion-select-option value="Nawabshah">Nawabshah</ion-select-option>
          <ion-select-option value="Kamoke">Kamoke</ion-select-option>
          <ion-select-option value="Burewala">Burewala</ion-select-option>
          <ion-select-option value="Jhelum">Jhelum</ion-select-option>
          <ion-select-option value="Sadiqabad">Sadiqabad</ion-select-option>
          <ion-select-option value="Khanewal">Khanewal</ion-select-option>
          <ion-select-option value="Hafizabad">Hafizabad</ion-select-option>
          <ion-select-option value="Kohat">Kohat</ion-select-option>
          <ion-select-option value="Jacobabad">Jacobabad</ion-select-option>
          <ion-select-option value="Shikarpur">Shikarpur</ion-select-option>
          <ion-select-option value="Muzaffargarh">Muzaffargarh</ion-select-option>
          <ion-select-option value="Khanpur">Khanpur</ion-select-option>
          <ion-select-option value="Gojra">Gojra</ion-select-option>
          <ion-select-option value="Bahawalnagar">Bahawalnagar</ion-select-option>
          <ion-select-option value="Abbottabad">Abbottabad</ion-select-option>
          <ion-select-option value="Muridke">Muridke</ion-select-option>
          <ion-select-option value="Pakpattan">Pakpattan</ion-select-option>
          <ion-select-option value="Khuzdar">Khuzdar</ion-select-option>
          <ion-select-option value="Jaranwala">Jaranwala</ion-select-option>
          <ion-select-option value="Chishtian">Chishtian</ion-select-option>
          <ion-select-option value="Daska">Daska</ion-select-option>
          <ion-select-option value="Mandi Bahauddin">Mandi Bahauddin</ion-select-option>
          <ion-select-option value="Ahmadpur East">Ahmadpur East</ion-select-option>
          <ion-select-option value="Kamalia">Kamalia</ion-select-option>
          <ion-select-option value="Tando Adam">Tando Adam</ion-select-option>
          <ion-select-option value="Khairpur">Khairpur</ion-select-option>
          <ion-select-option value="Dera Ismail Khan">Dera Ismail Khan</ion-select-option>
          <ion-select-option value="Vehari">Vehari</ion-select-option>
          <ion-select-option value="Nowshera">Nowshera</ion-select-option>
          <ion-select-option value="Dadu">Dadu</ion-select-option>
          <ion-select-option value="Wazirabad">Wazirabad</ion-select-option>
          <ion-select-option value="Khushab">Khushab</ion-select-option>
          <ion-select-option value="Charsada">Charsada</ion-select-option>
          <ion-select-option value="Swabi">Swabi</ion-select-option>
          <ion-select-option value="Chakwal">Chakwal</ion-select-option>
          <ion-select-option value="Mianwali">Mianwali</ion-select-option>
          <ion-select-option value="Tando Allahyar">Tando Allahyar</ion-select-option>
          <ion-select-option value="Kot Adu">Kot Adu</ion-select-option>
          <ion-select-option value="Farooka">Farooka</ion-select-option>
          <ion-select-option value="Chichawatni">Chichawatni</ion-select-option>
          <ion-select-option value="Vehari">Vehari</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="arr?.totalSeats">
          <ion-select [value] ="arr?.destination" (ionChange)="updateDestination($event.target.value,i)"  formControlName="destinationValue"  interface="popover" [placeholder]="arr?.destination">
            <ion-select-option value="Karachi">Karachi</ion-select-option>
            <ion-select-option value="lahore">lahore</ion-select-option>
            <ion-select-option value="Faisalabad">Faisalabad</ion-select-option>
            <ion-select-option value="Rawalpindi">Rawalpindi</ion-select-option>
            <ion-select-option value="Multan">Multan</ion-select-option>
            <ion-select-option value="Gujranwala">Gujranwala</ion-select-option>
            <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
            <ion-select-option value="Peshawar">Peshawar</ion-select-option>
            <ion-select-option value="Islamabad">Islamabad</ion-select-option>
            <ion-select-option value="Quetta">Quetta</ion-select-option>
            <ion-select-option value="Sargodha">Sargodha</ion-select-option>
            <ion-select-option value="Sialkot">Sialkot</ion-select-option>
            <ion-select-option value="Bahawalpur">Bahawalpur</ion-select-option>
            <ion-select-option value="Sukkur">Sukkur</ion-select-option>
            <ion-select-option value="Kandhkot">Kandhkot</ion-select-option>
            <ion-select-option value="Sheikhupura">Sheikhupura</ion-select-option>
            <ion-select-option value="Mardan">Mardan</ion-select-option>
            <ion-select-option value="Gujrat">Gujrat</ion-select-option>
            <ion-select-option value="Larkana">Larkana</ion-select-option>
            <ion-select-option value="Kasur">Kasur</ion-select-option>
            <ion-select-option value="Rahim Yar Khan">Rahim Yar Khan</ion-select-option>
            <ion-select-option value="Sahiwal">Sahiwal</ion-select-option>
            <ion-select-option value="Okara">Okara</ion-select-option>
            <ion-select-option value="Wah Cantonment">Wah Cantonment</ion-select-option>
            <ion-select-option value="Dera Ghazi Khan">Dera Ghazi Khan</ion-select-option>
            <ion-select-option value="Mingora">Mingora</ion-select-option>
            <ion-select-option value="Mirpur Khas">Mirpur Khas</ion-select-option>
            <ion-select-option value="Chiniot">Chiniot</ion-select-option>
            <ion-select-option value="Nawabshah">Nawabshah</ion-select-option>
            <ion-select-option value="Kamoke">Kamoke</ion-select-option>
            <ion-select-option value="Burewala">Burewala</ion-select-option>
            <ion-select-option value="Jhelum">Jhelum</ion-select-option>
            <ion-select-option value="Sadiqabad">Sadiqabad</ion-select-option>
            <ion-select-option value="Khanewal">Khanewal</ion-select-option>
            <ion-select-option value="Hafizabad">Hafizabad</ion-select-option>
            <ion-select-option value="Kohat">Kohat</ion-select-option>
            <ion-select-option value="Jacobabad">Jacobabad</ion-select-option>
            <ion-select-option value="Shikarpur">Shikarpur</ion-select-option>
            <ion-select-option value="Muzaffargarh">Muzaffargarh</ion-select-option>
            <ion-select-option value="Khanpur">Khanpur</ion-select-option>
            <ion-select-option value="Gojra">Gojra</ion-select-option>
            <ion-select-option value="Bahawalnagar">Bahawalnagar</ion-select-option>
            <ion-select-option value="Abbottabad">Abbottabad</ion-select-option>
            <ion-select-option value="Muridke">Muridke</ion-select-option>
            <ion-select-option value="Pakpattan">Pakpattan</ion-select-option>
            <ion-select-option value="Khuzdar">Khuzdar</ion-select-option>
            <ion-select-option value="Jaranwala">Jaranwala</ion-select-option>
            <ion-select-option value="Chishtian">Chishtian</ion-select-option>
            <ion-select-option value="Daska">Daska</ion-select-option>
            <ion-select-option value="Mandi Bahauddin">Mandi Bahauddin</ion-select-option>
            <ion-select-option value="Ahmadpur East">Ahmadpur East</ion-select-option>
            <ion-select-option value="Kamalia">Kamalia</ion-select-option>
            <ion-select-option value="Tando Adam">Tando Adam</ion-select-option>
            <ion-select-option value="Khairpur">Khairpur</ion-select-option>
            <ion-select-option value="Dera Ismail Khan">Dera Ismail Khan</ion-select-option>
            <ion-select-option value="Vehari">Vehari</ion-select-option>
            <ion-select-option value="Nowshera">Nowshera</ion-select-option>
            <ion-select-option value="Dadu">Dadu</ion-select-option>
            <ion-select-option value="Wazirabad">Wazirabad</ion-select-option>
            <ion-select-option value="Khushab">Khushab</ion-select-option>
            <ion-select-option value="Charsada">Charsada</ion-select-option>
            <ion-select-option value="Swabi">Swabi</ion-select-option>
            <ion-select-option value="Chakwal">Chakwal</ion-select-option>
            <ion-select-option value="Mianwali">Mianwali</ion-select-option>
            <ion-select-option value="Tando Allahyar">Tando Allahyar</ion-select-option>
            <ion-select-option value="Kot Adu">Kot Adu</ion-select-option>
            <ion-select-option value="Farooka">Farooka</ion-select-option>
            <ion-select-option value="Chichawatni">Chichawatni</ion-select-option>
            <ion-select-option value="Vehari">Vehari</ion-select-option>
            <ion-button slot ="end">cancel</ion-button>
            </ion-select>
          </ion-item>
      
        <ion-item *ngIf="!arr?.totalSeats">
          <ion-select text-center [value] ="arr?.departure" (ionChange)="updateDeparture($event.target.value,i)" color="dark" formControlName="departureValue"  interface="popover" placeholder="departure">
            <ion-select-option value="Karachi">Karachi</ion-select-option>
            <ion-select-option value="lahore">lahore</ion-select-option>
            <ion-select-option value="Faisalabad">Faisalabad</ion-select-option>
            <ion-select-option value="Rawalpindi">Rawalpindi</ion-select-option>
            <ion-select-option value="Multan">Multan</ion-select-option>
            <ion-select-option value="Gujranwala">Gujranwala</ion-select-option>
            <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
            <ion-select-option value="Peshawar">Peshawar</ion-select-option>
            <ion-select-option value="Islamabad">Islamabad</ion-select-option>
            <ion-select-option value="Quetta">Quetta</ion-select-option>
            <ion-select-option value="Sargodha">Sargodha</ion-select-option>
            <ion-select-option value="Sialkot">Sialkot</ion-select-option>
            <ion-select-option value="Bahawalpur">Bahawalpur</ion-select-option>
            <ion-select-option value="Sukkur">Sukkur</ion-select-option>
            <ion-select-option value="Kandhkot">Kandhkot</ion-select-option>
            <ion-select-option value="Sheikhupura">Sheikhupura</ion-select-option>
            <ion-select-option value="Mardan">Mardan</ion-select-option>
            <ion-select-option value="Gujrat">Gujrat</ion-select-option>
            <ion-select-option value="Larkana">Larkana</ion-select-option>
            <ion-select-option value="Kasur">Kasur</ion-select-option>
            <ion-select-option value="Rahim Yar Khan">Rahim Yar Khan</ion-select-option>
            <ion-select-option value="Sahiwal">Sahiwal</ion-select-option>
            <ion-select-option value="Okara">Okara</ion-select-option>
            <ion-select-option value="Wah Cantonment">Wah Cantonment</ion-select-option>
            <ion-select-option value="Dera Ghazi Khan">Dera Ghazi Khan</ion-select-option>
            <ion-select-option value="Mingora">Mingora</ion-select-option>
            <ion-select-option value="Mirpur Khas">Mirpur Khas</ion-select-option>
            <ion-select-option value="Chiniot">Chiniot</ion-select-option>
            <ion-select-option value="Nawabshah">Nawabshah</ion-select-option>
            <ion-select-option value="Kamoke">Kamoke</ion-select-option>
            <ion-select-option value="Burewala">Burewala</ion-select-option>
            <ion-select-option value="Jhelum">Jhelum</ion-select-option>
            <ion-select-option value="Sadiqabad">Sadiqabad</ion-select-option>
            <ion-select-option value="Khanewal">Khanewal</ion-select-option>
            <ion-select-option value="Hafizabad">Hafizabad</ion-select-option>
            <ion-select-option value="Kohat">Kohat</ion-select-option>
            <ion-select-option value="Jacobabad">Jacobabad</ion-select-option>
            <ion-select-option value="Shikarpur">Shikarpur</ion-select-option>
            <ion-select-option value="Muzaffargarh">Muzaffargarh</ion-select-option>
            <ion-select-option value="Khanpur">Khanpur</ion-select-option>
            <ion-select-option value="Gojra">Gojra</ion-select-option>
            <ion-select-option value="Bahawalnagar">Bahawalnagar</ion-select-option>
            <ion-select-option value="Abbottabad">Abbottabad</ion-select-option>
            <ion-select-option value="Muridke">Muridke</ion-select-option>
            <ion-select-option value="Pakpattan">Pakpattan</ion-select-option>
            <ion-select-option value="Khuzdar">Khuzdar</ion-select-option>
            <ion-select-option value="Jaranwala">Jaranwala</ion-select-option>
            <ion-select-option value="Chishtian">Chishtian</ion-select-option>
            <ion-select-option value="Daska">Daska</ion-select-option>
            <ion-select-option value="Mandi Bahauddin">Mandi Bahauddin</ion-select-option>
            <ion-select-option value="Ahmadpur East">Ahmadpur East</ion-select-option>
            <ion-select-option value="Kamalia">Kamalia</ion-select-option>
            <ion-select-option value="Tando Adam">Tando Adam</ion-select-option>
            <ion-select-option value="Khairpur">Khairpur</ion-select-option>
            <ion-select-option value="Dera Ismail Khan">Dera Ismail Khan</ion-select-option>
            <ion-select-option value="Vehari">Vehari</ion-select-option>
            <ion-select-option value="Nowshera">Nowshera</ion-select-option>
            <ion-select-option value="Dadu">Dadu</ion-select-option>
            <ion-select-option value="Wazirabad">Wazirabad</ion-select-option>
            <ion-select-option value="Khushab">Khushab</ion-select-option>
            <ion-select-option value="Charsada">Charsada</ion-select-option>
            <ion-select-option value="Swabi">Swabi</ion-select-option>
            <ion-select-option value="Chakwal">Chakwal</ion-select-option>
            <ion-select-option value="Mianwali">Mianwali</ion-select-option>
            <ion-select-option value="Tando Allahyar">Tando Allahyar</ion-select-option>
            <ion-select-option value="Kot Adu">Kot Adu</ion-select-option>
            <ion-select-option value="Farooka">Farooka</ion-select-option>
            <ion-select-option value="Chichawatni">Chichawatni</ion-select-option>
            <ion-select-option value="Vehari">Vehari</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="!arr?.totalSeats">
            <ion-select [value] ="arr?.destination" (ionChange)="updateDestination($event.target.value,i)"  formControlName="destinationValue"  interface="popover" placeholder="destination">
              <ion-select-option value="Karachi">Karachi</ion-select-option>
              <ion-select-option value="lahore">lahore</ion-select-option>
              <ion-select-option value="Faisalabad">Faisalabad</ion-select-option>
              <ion-select-option value="Rawalpindi">Rawalpindi</ion-select-option>
              <ion-select-option value="Multan">Multan</ion-select-option>
              <ion-select-option value="Gujranwala">Gujranwala</ion-select-option>
              <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
              <ion-select-option value="Peshawar">Peshawar</ion-select-option>
              <ion-select-option value="Islamabad">Islamabad</ion-select-option>
              <ion-select-option value="Quetta">Quetta</ion-select-option>
              <ion-select-option value="Sargodha">Sargodha</ion-select-option>
              <ion-select-option value="Sialkot">Sialkot</ion-select-option>
              <ion-select-option value="Bahawalpur">Bahawalpur</ion-select-option>
              <ion-select-option value="Sukkur">Sukkur</ion-select-option>
              <ion-select-option value="Kandhkot">Kandhkot</ion-select-option>
              <ion-select-option value="Sheikhupura">Sheikhupura</ion-select-option>
              <ion-select-option value="Mardan">Mardan</ion-select-option>
              <ion-select-option value="Gujrat">Gujrat</ion-select-option>
              <ion-select-option value="Larkana">Larkana</ion-select-option>
              <ion-select-option value="Kasur">Kasur</ion-select-option>
              <ion-select-option value="Rahim Yar Khan">Rahim Yar Khan</ion-select-option>
              <ion-select-option value="Sahiwal">Sahiwal</ion-select-option>
              <ion-select-option value="Okara">Okara</ion-select-option>
              <ion-select-option value="Wah Cantonment">Wah Cantonment</ion-select-option>
              <ion-select-option value="Dera Ghazi Khan">Dera Ghazi Khan</ion-select-option>
              <ion-select-option value="Mingora">Mingora</ion-select-option>
              <ion-select-option value="Mirpur Khas">Mirpur Khas</ion-select-option>
              <ion-select-option value="Chiniot">Chiniot</ion-select-option>
              <ion-select-option value="Nawabshah">Nawabshah</ion-select-option>
              <ion-select-option value="Kamoke">Kamoke</ion-select-option>
              <ion-select-option value="Burewala">Burewala</ion-select-option>
              <ion-select-option value="Jhelum">Jhelum</ion-select-option>
              <ion-select-option value="Sadiqabad">Sadiqabad</ion-select-option>
              <ion-select-option value="Khanewal">Khanewal</ion-select-option>
              <ion-select-option value="Hafizabad">Hafizabad</ion-select-option>
              <ion-select-option value="Kohat">Kohat</ion-select-option>
              <ion-select-option value="Jacobabad">Jacobabad</ion-select-option>
              <ion-select-option value="Shikarpur">Shikarpur</ion-select-option>
              <ion-select-option value="Muzaffargarh">Muzaffargarh</ion-select-option>
              <ion-select-option value="Khanpur">Khanpur</ion-select-option>
              <ion-select-option value="Gojra">Gojra</ion-select-option>
              <ion-select-option value="Bahawalnagar">Bahawalnagar</ion-select-option>
              <ion-select-option value="Abbottabad">Abbottabad</ion-select-option>
              <ion-select-option value="Muridke">Muridke</ion-select-option>
              <ion-select-option value="Pakpattan">Pakpattan</ion-select-option>
              <ion-select-option value="Khuzdar">Khuzdar</ion-select-option>
              <ion-select-option value="Jaranwala">Jaranwala</ion-select-option>
              <ion-select-option value="Chishtian">Chishtian</ion-select-option>
              <ion-select-option value="Daska">Daska</ion-select-option>
              <ion-select-option value="Mandi Bahauddin">Mandi Bahauddin</ion-select-option>
              <ion-select-option value="Ahmadpur East">Ahmadpur East</ion-select-option>
              <ion-select-option value="Kamalia">Kamalia</ion-select-option>
              <ion-select-option value="Tando Adam">Tando Adam</ion-select-option>
              <ion-select-option value="Khairpur">Khairpur</ion-select-option>
              <ion-select-option value="Dera Ismail Khan">Dera Ismail Khan</ion-select-option>
              <ion-select-option value="Vehari">Vehari</ion-select-option>
              <ion-select-option value="Nowshera">Nowshera</ion-select-option>
              <ion-select-option value="Dadu">Dadu</ion-select-option>
              <ion-select-option value="Wazirabad">Wazirabad</ion-select-option>
              <ion-select-option value="Khushab">Khushab</ion-select-option>
              <ion-select-option value="Charsada">Charsada</ion-select-option>
              <ion-select-option value="Swabi">Swabi</ion-select-option>
              <ion-select-option value="Chakwal">Chakwal</ion-select-option>
              <ion-select-option value="Mianwali">Mianwali</ion-select-option>
              <ion-select-option value="Tando Allahyar">Tando Allahyar</ion-select-option>
              <ion-select-option value="Kot Adu">Kot Adu</ion-select-option>
              <ion-select-option value="Farooka">Farooka</ion-select-option>
              <ion-select-option value="Chichawatni">Chichawatni</ion-select-option>
              <ion-select-option value="Vehari">Vehari</ion-select-option>
              <ion-button slot ="end">cancel</ion-button>
              </ion-select>
            </ion-item>
        <ion-item *ngIf="arr?.totalSeats">
        <!-- <ion-label position="floating">
          Timing
        </ion-label>
        <ion-input
        type="text"
        [value] ="arr?.timing" 
        (ionInput)="updateTiming($event.target.value,i)"
      >
      </ion-input> -->
      <ion-datetime  (ionChange)="updateTiming($event.detail.value,i)" displayFormat="hh-mm-A"  [placeholder]="arr?.timing">
      </ion-datetime> 

      </ion-item>
      <ion-item *ngIf="!arr?.totalSeats">
        <!-- <ion-label position="floating">
          Timing
        </ion-label>
        <ion-input
        type="text"
        [value] ="arr?.timing" 
        (ionInput)="updateTiming($event.target.value,i)"
      >
      </ion-input> -->
      <ion-datetime  (ionChange)="updateTiming($event.detail.value,i)" displayFormat="hh-mm-A"  placeholder="Timing">
      </ion-datetime> 

      </ion-item>
      <!-- <ion-item>
        <ion-label position="floating">
          Total Seats
        </ion-label>
        <ion-input
          type="number"
          (ionInput)="test($event.target.value,i)"
          [value] ="arr?.totalSeats" 
         
        >
        </ion-input>
      </ion-item> -->
      <!-- <ion-item>
        <ion-label position="floating">
         Available Seats
        </ion-label>
        <ion-input
          type="number"
          (ionInput)="updateAvailableSeats($event.target.value,i)"
          [value] ="arr?.availableSeats" 
         
        >
        </ion-input>

      </ion-item> -->
      <ion-item>
        <ion-label position="floating">
          Price per seat
        </ion-label>
        <ion-input
          type="number"
          (ionInput)="updateRoutePrice($event.target.value,i)"
          [value] ="arr?.priceperSeat" 
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Bus Type</ion-label>
        <ion-select
        *ngIf="arr?.totalSeats === 44"
        (ionChange)="updateButType($event.target.value,i)"
        placeholder="2/2"
         >
        <ion-select-option value="2/2">Two by Two</ion-select-option>
        <ion-select-option value="2/1">Two by One</ion-select-option>
        <ion-select-option value="1/1">One by One</ion-select-option>
        </ion-select>
        <ion-select
        *ngIf="arr?.totalSeats === 24"
        (ionChange)="updateButType($event.target.value,i)"
        placeholder="2/1"
         >
        <ion-select-option value="2/2">Two by Two</ion-select-option>
        <ion-select-option value="2/1">Two by One</ion-select-option>
        <ion-select-option value="1/1">One by One</ion-select-option>
        </ion-select>
        <ion-select
        *ngIf="arr?.totalSeats === 18"
        (ionChange)="updateButType($event.target.value,i)"
        placeholder="1/1"
         >
        <ion-select-option value="2/2">Two by Two</ion-select-option>
        <ion-select-option value="2/1">Two by One</ion-select-option>
        <ion-select-option value="1/1">One by One</ion-select-option>
        </ion-select>
        <ion-select
        *ngIf="!arr?.totalSeats"
        (ionChange)="updateButType($event.target.value,i)"
        placeholder="select seat"
         >
        <ion-select-option value="2/2">Two by Two</ion-select-option>
        <ion-select-option value="2/1">Two by One</ion-select-option>
        <ion-select-option value="1/1">One by One</ion-select-option>
        </ion-select>
      </ion-item>
     
      
    </ion-card >
</ion-list>

  

  </form> 
</ion-content>
<ion-footer translucent>
  <ion-button size="large"  expand="full" shape="round" (click)="enterToTheList()" >
    Submit</ion-button
  >
</ion-footer>
