<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed"   scrollEvents={true}>
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../../assets/player104.png" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{companyName}}
            <ion-chip (click)="openChatRoom()">
              Message
            </ion-chip>
          </h3>
          <!-- <h5 class="country">Switzerland</h5> -->
          <h6 class="ranking">Current ranking: <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
          </h6>
        </div>

        <ion-toolbar> 
          <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" color="success"> 
          <ion-segment-button value="0"> 
          <ion-label>About</ion-label> 
          <ion-icon name="information-circle"></ion-icon>
        </ion-segment-button> 
          <ion-segment-button value="1"> 
          <ion-label>Routes</ion-label> 
          <ion-icon name = "car"></ion-icon>

          </ion-segment-button> 
          <ion-segment-button value="2"> 
          <ion-label>Cities</ion-label> 
          <ion-icon name="home"></ion-icon>
        </ion-segment-button> 
          </ion-segment> 
          </ion-toolbar> 
          <ion-slides #slides (ionSlideDidChange)="slideChanged()"   class = "slide"> 
          <ion-slide class = "slide">
            <ion-grid>
              <ion-row>
                <ion-col size-md ="12" size-lg= "2" size-sm= "12" size-xs = "12" >
                  <ion-button expand="full" color="primary">{{userName}}</ion-button>
                </ion-col>
                <ion-col size-md ="12" size-lg= "2" size-sm= "12"size-xs = "12">      
                    <ion-button expand="full" color="secondary">{{phone}}</ion-button>
                </ion-col>
                <ion-col size-md ="12" size-lg= "2" size-sm= "12"size-xs = "12">
                  <ion-button expand="full" color="secondary">{{cnic}}</ion-button>
                </ion-col>
                <ion-col size-md ="12" size-lg= "2" size-sm= "12"size-xs = "12">
                  <ion-button expand="full" color="secondary">{{email}}</ion-button>
                </ion-col>
                <ion-col size-md ="12" size-lg= "2" size-sm= "12"size-xs = "12">
                  <ion-button expand="full" color="secondary">{{officeLocation}}</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide> 
          <ion-slide>
            <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let item of routesArr; let i = index">
              <ion-item-sliding (ionSwipe)="delete(i)">
                <ion-item>From {{item?.departure}} To {{item?.destination}} Timing {{item?.timing}} Total seats {{item?.totalSeats}}</ion-item>
                <ion-item-options>
                  <button ion-button expandable (click)="delete(i)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-menu-toggle>
          </ion-list></ion-slide> 
          <ion-slide>
            <ion-chip outline color="primary" #chip *ngFor="let tag of cities; let i = index">
              <ion-label>{{tag}}</ion-label>
              <ion-icon name="close-circle" (click)="remove(i)"></ion-icon>
          </ion-chip>
          </ion-slide> 
      
          </ion-slides>
      </div>
    </div>
</ion-content>