
<ion-content>
  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-button color="dark" (click)="closeModal()">
          <ion-icon color="light" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class ="title">
      <ion-title color="light" text-center>Routes</ion-title>
    </div>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="Form">
    <!-- <ion-card color="primary">
      
      <ion-card-header>
       
        <div class="title" >
          <ion-buttons slot="start">
            <ion-back-button [text]="'back'" defaultHref="/home"></ion-back-button>
            <ion-card-title size="large" text-center>Routes</ion-card-title>
          </ion-buttons>
        </div>
      </ion-card-header>
    </ion-card> -->

    <ion-card>
      <!-- <ion-item>
        <ion-label position="floating">
          From
        </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="departureValue"
          [ngModelOptions]="{ standalone: true }"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          Destination
        </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="destinationValue"
          [ngModelOptions]="{ standalone: true }"
        >
        </ion-input>
      </ion-item> -->
      <ion-item>
      <ion-select text-center color="dark" formControlName="departureValue" interface="popover" placeholder="Departure">
        <ion-select-option value="Karachi">Karachi</ion-select-option>
        <ion-select-option value="lahore">lahore</ion-select-option>
        <ion-select-option value="Faisalabad">Faisalabad</ion-select-option>
        <ion-select-option value="Rawalpindi">Rawalpindi</ion-select-option>
        <ion-select-option value="Multan">Multan</ion-select-option>
        <ion-select-option value="Gujranwala">Gujranwala</ion-select-option>
        <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
        <ion-select-option value="Peshawar">Peshawar</ion-select-option>
        <ion-select-option value="Islamabad">Islamabad</ion-select-option>
        <ion-select-option value="Quetta">Quetta</ion-select-option>
        <ion-select-option value="Sargodha">Sargodha</ion-select-option>
        <ion-select-option value="Sialkot">Sialkot</ion-select-option>
        <ion-select-option value="Bahawalpur">Bahawalpur</ion-select-option>
        <ion-select-option value="Sukkur">Sukkur</ion-select-option>
        <ion-select-option value="Kandhkot">Kandhkot</ion-select-option>
        <ion-select-option value="Sheikhupura">Sheikhupura</ion-select-option>
        <ion-select-option value="Mardan">Mardan</ion-select-option>
        <ion-select-option value="Gujrat">Gujrat</ion-select-option>
        <ion-select-option value="Larkana">Larkana</ion-select-option>
        <ion-select-option value="Kasur">Kasur</ion-select-option>
        <ion-select-option value="Rahim Yar Khan">Rahim Yar Khan</ion-select-option>
        <ion-select-option value="Sahiwal">Sahiwal</ion-select-option>
        <ion-select-option value="Okara">Okara</ion-select-option>
        <ion-select-option value="Wah Cantonment">Wah Cantonment</ion-select-option>
        <ion-select-option value="Dera Ghazi Khan">Dera Ghazi Khan</ion-select-option>
        <ion-select-option value="Mingora">Mingora</ion-select-option>
        <ion-select-option value="Mirpur Khas">Mirpur Khas</ion-select-option>
        <ion-select-option value="Chiniot">Chiniot</ion-select-option>
        <ion-select-option value="Nawabshah">Nawabshah</ion-select-option>
        <ion-select-option value="Kamoke">Kamoke</ion-select-option>
        <ion-select-option value="Burewala">Burewala</ion-select-option>
        <ion-select-option value="Jhelum">Jhelum</ion-select-option>
        <ion-select-option value="Sadiqabad">Sadiqabad</ion-select-option>
        <ion-select-option value="Khanewal">Khanewal</ion-select-option>
        <ion-select-option value="Hafizabad">Hafizabad</ion-select-option>
        <ion-select-option value="Kohat">Kohat</ion-select-option>
        <ion-select-option value="Jacobabad">Jacobabad</ion-select-option>
        <ion-select-option value="Shikarpur">Shikarpur</ion-select-option>
        <ion-select-option value="Muzaffargarh">Muzaffargarh</ion-select-option>
        <ion-select-option value="Khanpur">Khanpur</ion-select-option>
        <ion-select-option value="Gojra">Gojra</ion-select-option>
        <ion-select-option value="Bahawalnagar">Bahawalnagar</ion-select-option>
        <ion-select-option value="Abbottabad">Abbottabad</ion-select-option>
        <ion-select-option value="Muridke">Muridke</ion-select-option>
        <ion-select-option value="Pakpattan">Pakpattan</ion-select-option>
        <ion-select-option value="Khuzdar">Khuzdar</ion-select-option>
        <ion-select-option value="Jaranwala">Jaranwala</ion-select-option>
        <ion-select-option value="Chishtian">Chishtian</ion-select-option>
        <ion-select-option value="Daska">Daska</ion-select-option>
        <ion-select-option value="Mandi Bahauddin">Mandi Bahauddin</ion-select-option>
        <ion-select-option value="Ahmadpur East">Ahmadpur East</ion-select-option>
        <ion-select-option value="Kamalia">Kamalia</ion-select-option>
        <ion-select-option value="Tando Adam">Tando Adam</ion-select-option>
        <ion-select-option value="Khairpur">Khairpur</ion-select-option>
        <ion-select-option value="Dera Ismail Khan">Dera Ismail Khan</ion-select-option>
        <ion-select-option value="Vehari">Vehari</ion-select-option>
        <ion-select-option value="Nowshera">Nowshera</ion-select-option>
        <ion-select-option value="Dadu">Dadu</ion-select-option>
        <ion-select-option value="Wazirabad">Wazirabad</ion-select-option>
        <ion-select-option value="Khushab">Khushab</ion-select-option>
        <ion-select-option value="Charsada">Charsada</ion-select-option>
        <ion-select-option value="Swabi">Swabi</ion-select-option>
        <ion-select-option value="Chakwal">Chakwal</ion-select-option>
        <ion-select-option value="Mianwali">Mianwali</ion-select-option>
        <ion-select-option value="Tando Allahyar">Tando Allahyar</ion-select-option>
        <ion-select-option value="Kot Adu">Kot Adu</ion-select-option>
        <ion-select-option value="Farooka">Farooka</ion-select-option>
        <ion-select-option value="Chichawatni">Chichawatni</ion-select-option>
        <ion-select-option value="Vehari">Vehari</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select   formControlName="destinationValue"  interface="popover" placeholder="Destination">
          <ion-select-option value="Karachi">Karachi</ion-select-option>
          <ion-select-option value="lahore">lahore</ion-select-option>
          <ion-select-option value="Faisalabad">Faisalabad</ion-select-option>
          <ion-select-option value="Rawalpindi">Rawalpindi</ion-select-option>
          <ion-select-option value="Multan">Multan</ion-select-option>
          <ion-select-option value="Gujranwala">Gujranwala</ion-select-option>
          <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
          <ion-select-option value="Peshawar">Peshawar</ion-select-option>
          <ion-select-option value="Islamabad">Islamabad</ion-select-option>
          <ion-select-option value="Quetta">Quetta</ion-select-option>
          <ion-select-option value="Sargodha">Sargodha</ion-select-option>
          <ion-select-option value="Sialkot">Sialkot</ion-select-option>
          <ion-select-option value="Bahawalpur">Bahawalpur</ion-select-option>
          <ion-select-option value="Sukkur">Sukkur</ion-select-option>
          <ion-select-option value="Kandhkot">Kandhkot</ion-select-option>
          <ion-select-option value="Sheikhupura">Sheikhupura</ion-select-option>
          <ion-select-option value="Mardan">Mardan</ion-select-option>
          <ion-select-option value="Gujrat">Gujrat</ion-select-option>
          <ion-select-option value="Larkana">Larkana</ion-select-option>
          <ion-select-option value="Kasur">Kasur</ion-select-option>
          <ion-select-option value="Rahim Yar Khan">Rahim Yar Khan</ion-select-option>
          <ion-select-option value="Sahiwal">Sahiwal</ion-select-option>
          <ion-select-option value="Okara">Okara</ion-select-option>
          <ion-select-option value="Wah Cantonment">Wah Cantonment</ion-select-option>
          <ion-select-option value="Dera Ghazi Khan">Dera Ghazi Khan</ion-select-option>
          <ion-select-option value="Mingora">Mingora</ion-select-option>
          <ion-select-option value="Mirpur Khas">Mirpur Khas</ion-select-option>
          <ion-select-option value="Chiniot">Chiniot</ion-select-option>
          <ion-select-option value="Nawabshah">Nawabshah</ion-select-option>
          <ion-select-option value="Kamoke">Kamoke</ion-select-option>
          <ion-select-option value="Burewala">Burewala</ion-select-option>
          <ion-select-option value="Jhelum">Jhelum</ion-select-option>
          <ion-select-option value="Sadiqabad">Sadiqabad</ion-select-option>
          <ion-select-option value="Khanewal">Khanewal</ion-select-option>
          <ion-select-option value="Hafizabad">Hafizabad</ion-select-option>
          <ion-select-option value="Kohat">Kohat</ion-select-option>
          <ion-select-option value="Jacobabad">Jacobabad</ion-select-option>
          <ion-select-option value="Shikarpur">Shikarpur</ion-select-option>
          <ion-select-option value="Muzaffargarh">Muzaffargarh</ion-select-option>
          <ion-select-option value="Khanpur">Khanpur</ion-select-option>
          <ion-select-option value="Gojra">Gojra</ion-select-option>
          <ion-select-option value="Bahawalnagar">Bahawalnagar</ion-select-option>
          <ion-select-option value="Abbottabad">Abbottabad</ion-select-option>
          <ion-select-option value="Muridke">Muridke</ion-select-option>
          <ion-select-option value="Pakpattan">Pakpattan</ion-select-option>
          <ion-select-option value="Khuzdar">Khuzdar</ion-select-option>
          <ion-select-option value="Jaranwala">Jaranwala</ion-select-option>
          <ion-select-option value="Chishtian">Chishtian</ion-select-option>
          <ion-select-option value="Daska">Daska</ion-select-option>
          <ion-select-option value="Mandi Bahauddin">Mandi Bahauddin</ion-select-option>
          <ion-select-option value="Ahmadpur East">Ahmadpur East</ion-select-option>
          <ion-select-option value="Kamalia">Kamalia</ion-select-option>
          <ion-select-option value="Tando Adam">Tando Adam</ion-select-option>
          <ion-select-option value="Khairpur">Khairpur</ion-select-option>
          <ion-select-option value="Dera Ismail Khan">Dera Ismail Khan</ion-select-option>
          <ion-select-option value="Vehari">Vehari</ion-select-option>
          <ion-select-option value="Nowshera">Nowshera</ion-select-option>
          <ion-select-option value="Dadu">Dadu</ion-select-option>
          <ion-select-option value="Wazirabad">Wazirabad</ion-select-option>
          <ion-select-option value="Khushab">Khushab</ion-select-option>
          <ion-select-option value="Charsada">Charsada</ion-select-option>
          <ion-select-option value="Swabi">Swabi</ion-select-option>
          <ion-select-option value="Chakwal">Chakwal</ion-select-option>
          <ion-select-option value="Mianwali">Mianwali</ion-select-option>
          <ion-select-option value="Tando Allahyar">Tando Allahyar</ion-select-option>
          <ion-select-option value="Kot Adu">Kot Adu</ion-select-option>
          <ion-select-option value="Farooka">Farooka</ion-select-option>
          <ion-select-option value="Chichawatni">Chichawatni</ion-select-option>
          <ion-select-option value="Vehari">Vehari</ion-select-option>
          <ion-button slot ="end">cancel</ion-button>
          </ion-select>
        </ion-item>
      <ion-item>
        <ion-label position="floating">
          Timing
        </ion-label>
        <ion-datetime displayFormat="hh-mm-A" [(ngModel)]="timingValue" [ngModelOptions]="{ standalone: true }">
          
        </ion-datetime>

        <!-- <ion-input
          type="text"
          [(ngModel)]="timingValue"
          [ngModelOptions]="{ standalone: true }"
        >
        </ion-input> -->
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          Price per seat
        </ion-label>
        <ion-input
          type="number"
         
          [(ngModel)]="pricePerSeat"
          [ngModelOptions]="{ standalone: true }"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Bus Type</ion-label>
        <ion-select   
        [(ngModel)]="seatValue"
        [ngModelOptions]="{ standalone: true }"
        (ionChange)="options()"
         >
        <ion-select-option value="2/2">Two by Two</ion-select-option>
        <ion-select-option value="2/1">Two by One</ion-select-option>
        <ion-select-option value="1/1">One by One</ion-select-option>
        </ion-select>
        <!-- <ion-label position="floating">
          Total Seats
        </ion-label>
        <ion-input
          type="number"
          (ionInput)="test($event)"
          [(ngModel)]="seatValue"
          [ngModelOptions]="{ standalone: true }"
        >
        </ion-input> -->
      </ion-item>
      <ion-item lines="none" float-right>
       
        <ion-button expand="full" shape="round" [disabled]="buttonDisabled" (click)="enterToTheList()">
          Enter </ion-button
        >
      </ion-item>
    </ion-card >
    <!-- list of Routes Added -->
<!-- 
     <ion-content
    scrollEvents={true}>  -->
    <ion-card-content>
      <div class="thumnails" >
        <ion-list>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let item of routesCopy; let arr of routesArray; let i = index"
           
          >
            <ion-item-sliding (ionSwipe)="delete(i)">
              <ion-item id ='item'>

                  <ion-label>From :</ion-label>
                  <ion-label>{{ item?.Departure }} </ion-label>

                  <ion-label>To :</ion-label>
                  <ion-label>{{ item?.Destination }}</ion-label>

                  <ion-icon name="chevron-back-outline" slot="end"></ion-icon>

              </ion-item>
              <ion-item-options>
                <button ion-button expandable (click)="delete(i)">
                  <ion-icon name="trash"></ion-icon>
                  Delete
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-menu-toggle>
        </ion-list>
      </div>
    </ion-card-content>
    <!-- </ion-content> -->

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="full" shape="round" [disabled]="doneButtonDisable" (click)="nextButton()">
            Done
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
