<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/customer-dashboard">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Back
      </ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          src="../../assets/checkmark-filled.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content
  fullscreen="true"
  slot="fixed"
  scrollEvents="{true}"
  id="mainContent"
>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img *ngIf="image && image!='null'" [src]="image" />

        <img
          *ngIf="!image||  image=='null' "
          src="../../assets/player104.png"
          alt=""
        />
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="playername">
          {{companyName}}

        
        </h3>
        <!-- <h5 class="country">Switzerland</h5> -->
        <h6 class="ranking">
          <ion-chip (click)="openChatRoom()" *ngIf="!loading">
            Message
          </ion-chip>
          <ion-chip *ngIf="loading">
            loading..
          </ion-chip>
        </h6>
      </div>

      <ion-toolbar>
        <ion-segment
          (ionChange)="segmentChanged($event)"
          [(ngModel)]="segment"
          color="success"
        >
          <ion-segment-button value="0">
            <ion-label color="light">About</ion-label>
            <ion-icon name="information-circle" color="light"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="1">
            <ion-label color="light">Routes</ion-label>
            <ion-icon name="car" color="light"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label color="light">Cities</ion-label>
            <ion-icon name="home" color="light"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <ion-content id="slidesContent">
        <ion-slides #slides (ionSlideDidChange)="slideChanged()">
          <ion-slide>
            <ion-grid>
              <div *ngIf="!loading">
                <ion-row>
                  <ion-col size-md="12" size-lg="12" size-sm="12" size-xs="12">
                    <ion-button expand="full" shape="round">
                      <ion-icon name="home-outline" id="icon"></ion-icon>
                      {{officeLocation}}</ion-button
                    >
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-md="12" size-lg="12" size-sm="12" size-xs="12">
                    <ion-button expand="full" shape="round">
                      <ion-icon
                        name="person-circle-outline"
                        id="icon"
                      ></ion-icon>
                      {{userName}}</ion-button
                    >
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-md="12" size-lg="12" size-sm="12" size-xs="12">
                    <ion-button expand="full" shape="round">
                      <ion-icon name="call-outline" id="icon"></ion-icon>
                      {{phone}}</ion-button
                    >
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-md="12" size-lg="12" size-sm="12" size-xs="12">
                    <ion-button expand="full" shape="round">
                      <ion-icon name="reader-outline" id="icon"></ion-icon>
                      {{cnic}}</ion-button
                    >
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-md="12" size-lg="12" size-sm="12" size-xs="12">
                    <ion-button expand="full" shape="round">
                      <ion-icon name="mail-outline" id="icon"></ion-icon>
                      {{email}}</ion-button
                    >
                  </ion-col>
                </ion-row>
              </div>
              <div *ngIf="loading">
                <ion-card>
                  <ion-item>
                    <ion-label>
                      <h3>
                        <ion-skeleton-text
                          animated
                          style="width: 50%;"
                        ></ion-skeleton-text>
                      </h3>
                      <p>
                        <ion-skeleton-text
                          animated
                          style="width: 80%;"
                        ></ion-skeleton-text>
                      </p>
                      <p>
                        <ion-skeleton-text
                          animated
                          style="width: 80%;"
                        ></ion-skeleton-text>
                      </p>
                    </ion-label>
                  </ion-item>
                </ion-card>
              </div>
            </ion-grid>
          </ion-slide>
          <ion-slide>
            <ion-list id="list">
              <div *ngIf="!loading" >
               
              <div *ngFor="let item  of routesArr; let i = index">
                  <ion-card (click)="goToBooking(routesArr[i])">
                    <ion-item id="item" text-wrap>
                      <ion-label>From :</ion-label>
                      <ion-label>{{ item?.departure }} </ion-label>
                      <ion-label>To :</ion-label>
                      <ion-label>{{ item?.destination }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Timing :</ion-label>
                      <ion-label>{{ item?.timing }}</ion-label>
                      <ion-label>Seats :</ion-label>
                      <ion-label>{{ item?.totalSeats }}</ion-label>
                    </ion-item>
                  </ion-card>
                </div>
              </div>
              <div *ngIf="loading">
                <ion-card>
                  <ion-item *ngFor="let item of skeletonlist">
                    <ion-label>
                      <h3>
                        <ion-skeleton-text
                          color="light"
                          animated
                          style="width: 50%;"
                        ></ion-skeleton-text>
                      </h3>
                      <p>
                        <ion-skeleton-text
                          color="light"
                          animated
                          style="width: 80%;"
                        ></ion-skeleton-text>
                      </p>
                      <p>
                        <ion-skeleton-text
                          color="light"
                          animated
                          style="width: 60%;"
                        ></ion-skeleton-text>
                      </p>
                    </ion-label>
                  </ion-item>
                </ion-card>
              </div> </ion-list
          ></ion-slide>
          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col text-center size="6" *ngFor="let tag of cities">
                  <ion-item text-center>
                    <ion-label id="cityLabel">{{tag}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- <ion-chip *ngFor="let tag of cities">
              <ion-label>{{tag}}</ion-label>
            </ion-chip> -->
          </ion-slide>
        </ion-slides>
        <ion-toolbar class="large-title-fix"></ion-toolbar>
      </ion-content>
    </div>
  </div>
</ion-content>
<!-- <ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/customer-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../../assets/player104.png" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{userName}}</h3>
          <h5 class="country">Switzerland</h5>
          <h6 class="ranking">Current ranking: <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
          </h6>
        </div>

        <ion-button expand="full" color="primary">{{email}}</ion-button>
        <ion-button expand="full" color="secondary">{{phone}}</ion-button>
        <ion-button expand="full" color="secondary">{{cnic}}</ion-button>

      </div>
    </div>
</ion-content> -->
