<ion-header translucent no-border>
  <ion-toolbar>
    
    <ion-title>&nbsp;</ion-title>
    <div class ="title">
      <ion-title>Search</ion-title>
    </div>
    <!-- <ion-buttons slot="start">
      <ion-menu-toggle   >
        
      <ion-menu-button  autoHide="false"></ion-menu-button>
    </ion-menu-toggle>
    
    </ion-buttons> -->
    <div  [formGroup]="Form" >
      <ion-select text-center interface="action-sheet" formControlName="departureValue" (ionChange)="optionsFn()" interface="popover" placeholder="Departure">
        <ion-select-option value="Karachi">Karachi</ion-select-option>
        <ion-select-option value="lahore">lahore</ion-select-option>
        <ion-select-option value="Faisalabad">Faisalabad</ion-select-option>
        <ion-select-option value="Rawalpindi">Rawalpindi</ion-select-option>
        <ion-select-option value="Multan">Multan</ion-select-option>
        <ion-select-option value="Gujranwala">Gujranwala</ion-select-option>
        <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
        <ion-select-option value="Peshawar">Peshawar</ion-select-option>
        <ion-select-option value="Islamabad">Islamabad</ion-select-option>
        <ion-select-option value="Quetta">Quetta</ion-select-option>
        <ion-select-option value="Sargodha">Sargodha</ion-select-option>
        <ion-select-option value="Sialkot">Sialkot</ion-select-option>
        <ion-select-option value="Bahawalpur">Bahawalpur</ion-select-option>
        <ion-select-option value="Sukkur">Sukkur</ion-select-option>
        <ion-select-option value="Kandhkot">Kandhkot</ion-select-option>
        <ion-select-option value="Sheikhupura">Sheikhupura</ion-select-option>
        <ion-select-option value="Mardan">Mardan</ion-select-option>
        <ion-select-option value="Gujrat">Gujrat</ion-select-option>
        <ion-select-option value="Larkana">Larkana</ion-select-option>
        <ion-select-option value="Kasur">Kasur</ion-select-option>
        <ion-select-option value="Rahim Yar Khan">Rahim Yar Khan</ion-select-option>
        <ion-select-option value="Sahiwal">Sahiwal</ion-select-option>
        <ion-select-option value="Okara">Okara</ion-select-option>
        <ion-select-option value="Wah Cantonment">Wah Cantonment</ion-select-option>
        <ion-select-option value="Dera Ghazi Khan">Dera Ghazi Khan</ion-select-option>
        <ion-select-option value="Mingora">Mingora</ion-select-option>
        <ion-select-option value="Mirpur Khas">Mirpur Khas</ion-select-option>
        <ion-select-option value="Chiniot">Chiniot</ion-select-option>
        <ion-select-option value="Nawabshah">Nawabshah</ion-select-option>
        <ion-select-option value="Kamoke">Kamoke</ion-select-option>
        <ion-select-option value="Burewala">Burewala</ion-select-option>
        <ion-select-option value="Jhelum">Jhelum</ion-select-option>
        <ion-select-option value="Sadiqabad">Sadiqabad</ion-select-option>
        <ion-select-option value="Khanewal">Khanewal</ion-select-option>
        <ion-select-option value="Hafizabad">Hafizabad</ion-select-option>
        <ion-select-option value="Kohat">Kohat</ion-select-option>
        <ion-select-option value="Jacobabad">Jacobabad</ion-select-option>
        <ion-select-option value="Shikarpur">Shikarpur</ion-select-option>
        <ion-select-option value="Muzaffargarh">Muzaffargarh</ion-select-option>
        <ion-select-option value="Khanpur">Khanpur</ion-select-option>
        <ion-select-option value="Gojra">Gojra</ion-select-option>
        <ion-select-option value="Bahawalnagar">Bahawalnagar</ion-select-option>
        <ion-select-option value="Abbottabad">Abbottabad</ion-select-option>
        <ion-select-option value="Muridke">Muridke</ion-select-option>
        <ion-select-option value="Pakpattan">Pakpattan</ion-select-option>
        <ion-select-option value="Khuzdar">Khuzdar</ion-select-option>
        <ion-select-option value="Jaranwala">Jaranwala</ion-select-option>
        <ion-select-option value="Chishtian">Chishtian</ion-select-option>
        <ion-select-option value="Daska">Daska</ion-select-option>
        <ion-select-option value="Mandi Bahauddin">Mandi Bahauddin</ion-select-option>
        <ion-select-option value="Ahmadpur East">Ahmadpur East</ion-select-option>
        <ion-select-option value="Kamalia">Kamalia</ion-select-option>
        <ion-select-option value="Tando Adam">Tando Adam</ion-select-option>
        <ion-select-option value="Khairpur">Khairpur</ion-select-option>
        <ion-select-option value="Dera Ismail Khan">Dera Ismail Khan</ion-select-option>
        <ion-select-option value="Vehari">Vehari</ion-select-option>
        <ion-select-option value="Nowshera">Nowshera</ion-select-option>
        <ion-select-option value="Dadu">Dadu</ion-select-option>
        <ion-select-option value="Wazirabad">Wazirabad</ion-select-option>
        <ion-select-option value="Khushab">Khushab</ion-select-option>
        <ion-select-option value="Charsada">Charsada</ion-select-option>
        <ion-select-option value="Swabi">Swabi</ion-select-option>
        <ion-select-option value="Chakwal">Chakwal</ion-select-option>
        <ion-select-option value="Mianwali">Mianwali</ion-select-option>
        <ion-select-option value="Tando Allahyar">Tando Allahyar</ion-select-option>
        <ion-select-option value="Kot Adu">Kot Adu</ion-select-option>
        <ion-select-option value="Farooka">Farooka</ion-select-option>
        <ion-select-option value="Chichawatni">Chichawatni</ion-select-option>
        <ion-select-option value="Vehari">Vehari</ion-select-option>
        </ion-select>
        <ion-select   formControlName="destinationValue" (ionChange)="optionsFn()" interface="popover" placeholder="Destination">
          <ion-select-option value="Karachi">Karachi</ion-select-option>
          <ion-select-option value="lahore">lahore</ion-select-option>
          <ion-select-option value="Faisalabad">Faisalabad</ion-select-option>
          <ion-select-option value="Rawalpindi">Rawalpindi</ion-select-option>
          <ion-select-option value="Multan">Multan</ion-select-option>
          <ion-select-option value="Gujranwala">Gujranwala</ion-select-option>
          <ion-select-option value="Hyderabad">Hyderabad</ion-select-option>
          <ion-select-option value="Peshawar">Peshawar</ion-select-option>
          <ion-select-option value="Islamabad">Islamabad</ion-select-option>
          <ion-select-option value="Quetta">Quetta</ion-select-option>
          <ion-select-option value="Sargodha">Sargodha</ion-select-option>
          <ion-select-option value="Sialkot">Sialkot</ion-select-option>
          <ion-select-option value="Bahawalpur">Bahawalpur</ion-select-option>
          <ion-select-option value="Sukkur">Sukkur</ion-select-option>
          <ion-select-option value="Kandhkot">Kandhkot</ion-select-option>
          <ion-select-option value="Sheikhupura">Sheikhupura</ion-select-option>
          <ion-select-option value="Mardan">Mardan</ion-select-option>
          <ion-select-option value="Gujrat">Gujrat</ion-select-option>
          <ion-select-option value="Larkana">Larkana</ion-select-option>
          <ion-select-option value="Kasur">Kasur</ion-select-option>
          <ion-select-option value="Rahim Yar Khan">Rahim Yar Khan</ion-select-option>
          <ion-select-option value="Sahiwal">Sahiwal</ion-select-option>
          <ion-select-option value="Okara">Okara</ion-select-option>
          <ion-select-option value="Wah Cantonment">Wah Cantonment</ion-select-option>
          <ion-select-option value="Dera Ghazi Khan">Dera Ghazi Khan</ion-select-option>
          <ion-select-option value="Mingora">Mingora</ion-select-option>
          <ion-select-option value="Mirpur Khas">Mirpur Khas</ion-select-option>
          <ion-select-option value="Chiniot">Chiniot</ion-select-option>
          <ion-select-option value="Nawabshah">Nawabshah</ion-select-option>
          <ion-select-option value="Kamoke">Kamoke</ion-select-option>
          <ion-select-option value="Burewala">Burewala</ion-select-option>
          <ion-select-option value="Jhelum">Jhelum</ion-select-option>
          <ion-select-option value="Sadiqabad">Sadiqabad</ion-select-option>
          <ion-select-option value="Khanewal">Khanewal</ion-select-option>
          <ion-select-option value="Hafizabad">Hafizabad</ion-select-option>
          <ion-select-option value="Kohat">Kohat</ion-select-option>
          <ion-select-option value="Jacobabad">Jacobabad</ion-select-option>
          <ion-select-option value="Shikarpur">Shikarpur</ion-select-option>
          <ion-select-option value="Muzaffargarh">Muzaffargarh</ion-select-option>
          <ion-select-option value="Khanpur">Khanpur</ion-select-option>
          <ion-select-option value="Gojra">Gojra</ion-select-option>
          <ion-select-option value="Bahawalnagar">Bahawalnagar</ion-select-option>
          <ion-select-option value="Abbottabad">Abbottabad</ion-select-option>
          <ion-select-option value="Muridke">Muridke</ion-select-option>
          <ion-select-option value="Pakpattan">Pakpattan</ion-select-option>
          <ion-select-option value="Khuzdar">Khuzdar</ion-select-option>
          <ion-select-option value="Jaranwala">Jaranwala</ion-select-option>
          <ion-select-option value="Chishtian">Chishtian</ion-select-option>
          <ion-select-option value="Daska">Daska</ion-select-option>
          <ion-select-option value="Mandi Bahauddin">Mandi Bahauddin</ion-select-option>
          <ion-select-option value="Ahmadpur East">Ahmadpur East</ion-select-option>
          <ion-select-option value="Kamalia">Kamalia</ion-select-option>
          <ion-select-option value="Tando Adam">Tando Adam</ion-select-option>
          <ion-select-option value="Khairpur">Khairpur</ion-select-option>
          <ion-select-option value="Dera Ismail Khan">Dera Ismail Khan</ion-select-option>
          <ion-select-option value="Vehari">Vehari</ion-select-option>
          <ion-select-option value="Nowshera">Nowshera</ion-select-option>
          <ion-select-option value="Dadu">Dadu</ion-select-option>
          <ion-select-option value="Wazirabad">Wazirabad</ion-select-option>
          <ion-select-option value="Khushab">Khushab</ion-select-option>
          <ion-select-option value="Charsada">Charsada</ion-select-option>
          <ion-select-option value="Swabi">Swabi</ion-select-option>
          <ion-select-option value="Chakwal">Chakwal</ion-select-option>
          <ion-select-option value="Mianwali">Mianwali</ion-select-option>
          <ion-select-option value="Tando Allahyar">Tando Allahyar</ion-select-option>
          <ion-select-option value="Kot Adu">Kot Adu</ion-select-option>
          <ion-select-option value="Farooka">Farooka</ion-select-option>
          <ion-select-option value="Chichawatni">Chichawatni</ion-select-option>
          <ion-select-option value="Vehari">Vehari</ion-select-option>
          <ion-button slot ="end">cancel</ion-button>
          </ion-select>
          <ion-button expand ="block" color="danger" (click)= "clear()" *ngIf="Form.value['departureValue']&&Form.value['destinationValue']">clear</ion-button>
          <ion-button expand ="block" (click)= "searchButton()">Search</ion-button>
        </div>
  </ion-toolbar>
</ion-header>

<ion-content   [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!loading">
    <ion-list >
      
      <ion-card *ngFor="let tag of serviceProviderInfo" (click)="displayToast()" [routerLink]= "['./',tag._id]">
        <div *ngFor ="let item of tag.servicesArray">
        <ion-item  text-wrap>
          <ion-label class="label">From :</ion-label>
          <ion-label  class="label">{{ item?.departure }} </ion-label>
          <ion-label  class="label">To :</ion-label>
          <ion-label  class="label">{{ item?.destination }}</ion-label>
        </ion-item>
        <ion-item id="item">
          <ion-label class="label">Timing :</ion-label>
          <ion-label class="label">{{ item?.timing }}</ion-label>
          <ion-label class="label">Seats :</ion-label>
          <ion-label class="label">{{ item?.totalSeats }}</ion-label>
        </ion-item>
      </div>
      </ion-card>
      <!-- <ion-card *ngFor="let tag of serviceProviderInfo" [routerLink]= "['./',tag._id]">
        <ion-thumbnail slot="start">
          <ion-img *ngIf="tag?.imageUrl && tag?.imageUrl!='null'" [src]="tag?.imageUrl"></ion-img>
          
          <ion-img *ngIf="!tag?.imageUrl||  tag?.imageUrl=='null' " src="../../assets/player104.png" alt=""></ion-img>
        </ion-thumbnail>
        <h6>{{tag?.companyName}}</h6>
  <div *ngFor ="let item of tag.servicesArray">
    <ion-item>
      
      From {{item?.departure}} To {{item?.destination}} Timing
    {{item?.timing}} Total seats {{item?.totalSeats}}
  </ion-item>
  </div>
  
  
      </ion-card> -->
    </ion-list>
  </div>
    <div *ngIf="loading">
      <ion-card>
        
        <ion-item *ngFor="let item of skeletonlist">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated>one</ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
</ion-content>
