<ion-content>
  <ion-list>
    <ion-menu-toggle auto-hide="false" *ngFor="let item of routesArr; let i = index">
      <ion-item-sliding (ionSwipe)="delete(i)">
        <ion-item>From {{item?.departure}} To {{item?.destination}} Timing {{item?.timing}} Total seats {{item?.totalSeats}}</ion-item>
        <ion-item-options>
          <button ion-button expandable (click)="delete(i)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
