<ion-header translucent>
  <ion-toolbar >
   <!-- <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons> -->
   <ion-buttons slot="start">
    <ion-menu-toggle>
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-menu-toggle>
  </ion-buttons>
   <ion-thumbnail slot="start">
      <img [src]="senderImage_url" >
    </ion-thumbnail>
    <!-- <ion-title color="light">
      {{paramData.name}}
    </ion-title> -->
    <ion-title color="light">
      {{sender}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #IonContent fullscreen="true"(click)="scrollTo()">
  <div *ngIf="!loading">
  <ion-list>
    <div *ngFor="let chat of messages; let i = index; ">
      <div *ngIf="(chat.status ==='unread' && chat.name === sender)?markStatus(chat):false ">
        
      </div>  
      <ion-row *ngIf="chat.name === reciever" >
        <!-- <div *ngIf="chat.status ==='unread'">
        {{markStatus(chat)}}</div>         -->
        <!-- <ion-col class="right" class="ion-no-padding" [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
           -->
           <ion-col class="right" class="ion-no-padding" class="clubbed">
          <div class="imageAvatarRight">
            <div class="imageAvatarBottom">
              <!-- <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                 -->
                 <ion-avatar class="avatar" >
                <!-- <div class="imageAvatarBottomIcon">
                  <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                </div> -->
                <ion-img class="user-img" src="{{chat.senderImage_url}}"></ion-img>
              </ion-avatar>
            </div>
            <ion-label color="light">
              <!-- <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
              (msgList[i-1] && msgList[i-1].userId == chat.userId)),
              'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}"> -->
              <div class="chatDiv" class = "sharper">
                <p class="ion-text-wrap" class="ion-padding">{{chat.msg}}
                </p>
                <div class="corner-parent-right">
                  <div class="corner-child-right">

                  </div>
                </div>
              </div>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="chat.name !== reciever">

        <!-- <ion-col class="left" class="ion-no-padding" [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}"> -->
          <ion-col class="left" class="ion-no-padding" class="clubbed" >
          <div class="imageAvatarLeft">
            <ion-label color="light">
              <!-- <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
              (msgList[i-1] && msgList[i-1].userId == chat.userId)),
              'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}"> -->
              <div class="chatDiv" >
                <p class="ion-text-wrap" class="ion-padding" >{{chat.msg}}</p>
                <div class="corner-parent-left">
                  <div class="corner-child-left">
                  </div>
                </div>
              </div>
            </ion-label>
            <div class="imageAvatarBottom">
              <!-- <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''"> -->
                <ion-avatar class="avatar" >
                <!-- <div class="imageAvatarBottomIcon">
                  <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                </div> -->
                <ion-img class="user-img" src="{{chat.senderImage_url}}"></ion-img>
              </ion-avatar>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])"> -->
        <ion-row >
        <ion-col>
          <ion-text>{{chat.created | date:'dd.MMM hh:MM'}}</ion-text>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
</div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)=" sendMessage()" [disabled]="message=== '' ">
      <ion-icon name="send" expand="icon-only"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>

<ion-footer translucent>
  <ion-item>
    <!-- <ion-icon slot="start" name="camera" expand="icon-only" class="footerIcon"></ion-icon> -->
    <!-- <ion-input class="input-box" type="text" placeholder="Write a message..." [(ngModel)]="user_input" (keypress)="userTyping($event)"></ion-input> -->
    <ion-input class="input-box" type="text" [(ngModel)]="message" placeholder="Write a message..." ></ion-input>

  </ion-item>
</ion-footer>
<div *ngIf="loading">
  <ion-card>
    <ion-spinner></ion-spinner>
  </ion-card>
  </div>
