
<ion-header translucent no-border>
  <ion-toolbar>
    <!-- <ion-buttons  slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons> -->
    <ion-title>&nbsp;</ion-title>
 
      <ion-menu-toggle  slot="start" >
      <ion-menu-button   color="light" autoHide="false"></ion-menu-button>
    </ion-menu-toggle>
  
    <ion-buttons slot="end">
      <ion-button color="light" (click) = "goToDashboard()">
        <ion-icon  name="ios-arrow-back"></ion-icon>
        Dashboard
       </ion-button>
       <ion-button color="light" (click) = "logout()">
        Logout
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!loading">
     <div class="card">
    <div class="header">
      <div class="avatar">
        <img *ngIf="image && image!='null'" [src]="image">
        
        <img *ngIf="!image||  image=='null' " src="../../assets/player104.png" alt="">
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="playername">{{userName}}
        
          <!-- <ion-chip (click)="openBookingCart()">
            Booking
          </ion-chip> -->
        </h3>
        <ion-button class="btn-grad " (click)="openChatRoom()">
          <ion-icon size="large" src="../../assets/inbox.svg">
          </ion-icon>
          <ion-badge [class.badge-one]="msgs < 10" [class.badge-two]="msgs >= 10" color="danger">{{ msgs }}</ion-badge>
        </ion-button>
        <!-- <ion-chip (click)="openChatRoom()">
          Message
          <div class="online">
            {{msgs}}
          </div>
        </ion-chip> -->
        <!-- <h5 class="country">Switzerland</h5>
        <h6 class="ranking">Current ranking: <ion-chip>
            <ion-label>2</ion-label>
          </ion-chip>
        </h6> -->
      </div>

      <ion-button class="btn-grad "  expand="full"  shape="round" >
        <ion-icon name="mail-outline" class ="icon"></ion-icon>{{email}}</ion-button>
      <ion-button class="btn-grad " expand="full" shape="round" >
        <ion-icon name="call-outline" class ="icon"  ></ion-icon>{{phone}}</ion-button>
      <ion-button class="btn-grad " expand="full" shape="round" >
        <!-- <ion-icon name="browsers-outline" id ="icon"></ion-icon> -->
        <ion-icon name="reader-outline" class ="icon"></ion-icon>{{cnic}}</ion-button>

    </div>
  </div>
  
</div>
   
<div *ngIf="loading">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img *ngIf="image && image!='null'" [src]="image">
        
        <img *ngIf="!image||  image=='null' " src="../../assets/player104.png" alt="">
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        
        <!-- <ion-chip (click)="openChatRoom()">
          Message
          <div class="online">
            {{msgs}}
          </div>
        </ion-chip> -->
        <!-- <h5 class="country">Switzerland</h5>
        <h6 class="ranking">Current ranking: <ion-chip>
            <ion-label>2</ion-label>
          </ion-chip>
        </h6> -->
      </div>
      <ion-card>
      
        <ion-item class="btn-grad " >
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
      

    </div>
  </div>
</div>
</ion-content>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>customer-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>{{userName}}</ion-label>
        <ion-icon name="create" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{email}}</ion-label>
        <ion-icon name="create" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{phone}}</ion-label>
        <ion-icon name="create" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{cnic}}</ion-label>
        <ion-icon name="create" slot="end"></ion-icon>
      </ion-item>
  
        <ion-button>Enter</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content> -->
