<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click) = "goToDashboard()">
        <ion-icon  name="ios-arrow-back"></ion-icon>
        Dashboard
       </ion-button>
       <ion-button color="light" (click) = "logout()">
        Logout
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../../assets/player104.png" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{userName}}
            <ion-chip (click)="openChatRoom()">
              Message
            </ion-chip>
          </h3>
          <h5 class="country">Switzerland</h5>
          <h6 class="ranking">Current ranking: <ion-chip>
              <ion-label>2</ion-label>
            </ion-chip>
          </h6>
        </div>

        <ion-button expand="full" color="primary">{{email}}</ion-button>
        <ion-button expand="full" color="secondary">{{phone}}</ion-button>
        <ion-button expand="full" color="secondary">{{cnic}}</ion-button>

      </div>
    </div>
</ion-content>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>customer-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>{{userName}}</ion-label>
        <ion-icon name="create" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{email}}</ion-label>
        <ion-icon name="create" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{phone}}</ion-label>
        <ion-icon name="create" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{cnic}}</ion-label>
        <ion-icon name="create" slot="end"></ion-icon>
      </ion-item>
  
        <ion-button>Enter</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content> -->
