/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.alertstar{
    button{
         width: 40px;
         margin: 0 !important;
         background-image:url('./assets/icon/18d4e7ee4cfc7b24b4f7921eba6f6f2892112010.png');
         background-repeat: no-repeat;
         background-position: center;
         color:white !important;
    }
    .alert-button-group{padding:0; margin-top: 10px; flex-direction: row; justify-content: space-around;}
    border-radius: 12px;
    .alert-wrapper{border-radius: 12px;}
}