
<ion-content>
  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button  (click)="back()" defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <div class ="title">
        <ion-title>Registration</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class = "mainDiv" >
    <ion-grid>
      <ion-row>
        
        <ion-col size-md ="8" offset-md = "2">
            <div [formGroup]="Form">
          <ion-card>
            <ion-card-header>
          
              <div class ="title">
            <ion-card-title color="light" size="large" text-center>Welcome</ion-card-title>
          </div>


            </ion-card-header>
          </ion-card>
          <ion-card-content>
            <ion-row>
                
              <ion-col size = "6">
            <ion-item>
              <ion-label position = "floating" >
                User Name
              </ion-label>
              <ion-input type ="text"  formControlName="username" >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position = "floating">
                Cnic Number
              </ion-label>
              <ion-input type ="tel"  formControlName="cnic" appCnicMask 
              maxlength="15">
              </ion-input>
            </ion-item>
          </ion-col>
          
          <ion-col size = "6"  id ="imageCol" >
            <app-image-picker (imagePick)="onImagePicked($event)"></app-image-picker>
            <!-- <ion-avatar id = "image">
              <img *ngIf="img1" [src]="img1"/>
                        </ion-avatar>  
            <ion-fab vertical="bottom" horizontal="center">
              <input
              (change)="fileChange($event)"
              type="file"
              name="file"
              id="file"
              class="fileInput"/>
             <label for="file"><ion-icon name="images"></ion-icon> Picture</label>
            </ion-fab> -->
                <!-- <ion-button color="medium" size="large">
                    <ion-icon slot="icon-only" name="camera"></ion-icon>
                  </ion-button> -->
           </ion-col>  
          </ion-row>
          
          <ion-item>
            <ion-label position = "floating">
              Phone#
            </ion-label>
            <ion-input type ="tel"  formControlName="phone" appPhoneMask
            
            maxlength="12">
            </ion-input>    
             
          </ion-item>

          <ion-row>
            <ion-col size="8">
            <ion-item>
              
                
              <ion-label position = "floating">
                Valid Gmail Address
              </ion-label>
              <ion-input type ="text"  formControlName="email" id = "emailaddress">
              </ion-input>
            
            </ion-item>
          </ion-col>
          <ion-col size="4" >
            <ion-button expand="full" [disabled]="!Form.value['email']" (click)="sendEmail()" >
              Send Code &nbsp;<ion-spinner *ngIf="verifyLoading"></ion-spinner></ion-button>
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
            <ion-item *ngIf="vissible">
              <ion-label position = "floating" >
                Enter code
              </ion-label>
              <ion-input type ="text" formControlName="code"  >
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4" >
            <ion-button *ngIf="vissible" expand="full" (click)="verifyCode()" >
              Verify</ion-button>
            </ion-col>
          </ion-row>
            <ion-item>
                <ion-label position = "floating">
                  Password
                </ion-label>
                <ion-input type ="password" formControlName="password">
                </ion-input>
              </ion-item>
              <!-- <ion-item>
                <ion-label position = "floating">
                  Confirm Password
                </ion-label>
                <ion-input type ="password" formControlName="confirmPassword">
                </ion-input>
              </ion-item> -->
              <ion-row justify-content: end>
                <ion-col class="ion-text-center">
                  
              <ion-button expand="full" shape="round" (click) = "signUpButton()" [disabled]="!Form.valid ">
                Sign Up &nbsp;<ion-spinner *ngIf="loading"></ion-spinner>
              </ion-button >
            </ion-col>
          </ion-row>
            </ion-card-content>
          </div>  
          </ion-col>
           </ion-row>
        </ion-grid>
      </div>
      
</ion-content>
