ion-content{
  --background: linear-gradient(to top, #93F9B9, #1D976C);

}
ion-toolbar{
 --background: transparent;
}
ion-card-title {
  --background: transparent;
}
ion-card{
  --background: linear-gradient(to right, #134E5E 0%, #71B280 51%, #134E5E 100%);
}
ion-item{
  --background: transparent;
}
ion-button{
  --background: linear-gradient(to right, #134E5E 0%, #71B280 51%, #134E5E 100%);
}
.title{
    text-align: center;
  }
  #image{
    width: 150px;
    height: 150px;
    margin: auto;

  }
  #imageButton{
    width: 180px;
    height: 155px;
  }
  #imageCol{
    text-align: center;
  }
  .fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .fileInput   label {
    color: #717171;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    padding: .5em 1em;
    border: 1px solid #ccc;
    cursor: pointer;
  }