
.title{
  text-align: center;
}
a:hover {
  cursor: pointer;
}
a{
  color: black;
}
ion-content{
  // --background: linear-gradient(#00449e, #e66465);
  --background: radial-gradient(#ff5e7c 10%, #c272d4 50%, #6bbae8 80%);
}
ion-item{
  --background: transparent;
}
ion-card {
  --background: linear-gradient(to right, #603813 0%, #b29f94 51%, #603813 100%);
  
}
ion-card-title{
  color: white;
  font-weight: bold;
  font-size: x-large;
  font-family: serif;
}
#logButton{
  --background: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
}
// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

// // ion-content ion-toolbar {
// //   --background: translucent;
// // }

// // .round {
// //   --width: 80px;
// //   --height: 500px;
// //   --border-radius: 50%;
// //   --vertical-align: middle;
// //   --padding-start: 10px;
// //   --padding-end: 10px;
// // }
#buttonDIv{
  width: 100%;
}